<div class="mt-4 max-w-lg mx-auto flex justify-between items-center fixed bottom-2 left-2 right-2"
     id="button-bar-fixed">
    <!-- Save Button -->
    <div class="w-full pr-2">
        <button type="submit"
                value="save"
                class="w-full px-4 py-4 bg-gradient-to-r from-primary to-secondary rounded-lg "
        >
            <i class="ri-save-line"></i> <span class="text-xs">Save</span>
        </button>

    </div>

    <!-- Delete Button -->
    <div class="w-full pl-2">
        <button type="submit"
                value="delete"
                class="delete_button w-full px-4 py-4 bg-gradient-to-r from-primary to-secondary rounded-lg"
        >
            <i class="ri-delete-bin-line"></i> <span class="text-xs">Delete</span>
        </button>
    </div>
</div>
<div class="mt-4 flex justify-between items-center" id="button-bar-normal">
    <!-- Save Button -->
    <div class="w-full pr-2">
        <button type="submit"
                value="save"
                class="w-full px-4 py-4 bg-gradient-to-r from-primary to-secondary rounded-lg "
        >
            <i class="ri-save-line"></i> <span class="text-xs">Save</span>
        </button>

    </div>

    <!-- Delete Button -->
    <div class="w-full pl-2">
        <button type="submit"
                value="delete"
                class="delete_button w-full px-4 py-4 bg-gradient-to-r from-primary to-secondary rounded-lg"
        >
            <i class="ri-delete-bin-line"></i> <span class="text-xs">Delete</span>
        </button>
    </div>
</div>

{% block javascript %}
<script>
    $(window).on('scroll', function () {
        hideButtons();
    });

    $(document).ready(function () {
        hideButtons();
    });

    $(document).ready(function() {
        $('.delete_button').click(function(e) {
            e.preventDefault(); // prevent default behavior
            if (confirm("Are you sure you want to delete?")) {
                $('#my_content_form').submit();
            }
        });
    });

    function hideButtons() {
        let footerTop = $('footer').offset().top - 200;
        let btnHeight = $('#button-bar-fixed').outerHeight();
        let windowBottom = $(window).scrollTop() + $(window).height();

        if (windowBottom >= footerTop) {
            // Switch to absolute so it stops before footer
            $('#button-bar-fixed') .addClass('hidden');
        } else {
            // Keep it fixed at bottom
            $('#button-bar-fixed').removeClass('hidden');
        }
    }
</script>
{% endblock javascript %}