<!-- password_reset.html -->
{% extends "core/layout.html" %}
{% load i18n %}
{% block title %}Reset Password{% endblock %}
{% block content %}
    <div>
        <h1 class="text-2xl font-semibold mb-6 text-center">{% trans "Set New Password" %}</h1>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- Submit -->
            <button type="submit"
                    class="w-full py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">
                {% trans "Change Password" %}
            </button>
        </form>
    </div>
{% endblock content %}
