<!-- Bottom Navigation -->
<div class="max-w-xl mx-auto bottom-nav flex justify-around items-center fixed bottom-0 left-0 right-0 z-10">
    <a href="{% url 'feed.following' %}"
       id="home-btn"
       class="flex flex-col items-center justify-center py-1 {% if 'feed.following' in request.resolver_match.url_name or request.resolver_match.url_name == 'home' %}text-primary{% else %}text-gray-400{% endif %}">
        <div class="w-6 h-6 flex items-center justify-center">
            <i class="ri-group-fill"></i>
        </div>
        <span class="text-xs">Follow</span>
    </a>
    <a href="{% url 'feed.discover.grid' %}"
       id="discover-btn"
       class="flex flex-col items-center justify-center py-1 {% if 'feed.discover' in request.resolver_match.url_name %}text-primary{% else %}text-gray-400{% endif %}">
        <div class="w-6 h-6 flex items-center justify-center">
            <i class="ri-compass-3-line ri-lg"></i>
        </div>
        <span class="text-xs">Discover</span>
    </a>
    {% if user.is_regular_user == False %}
        <a href="{% url 'media.upload' %}"
           id="upload-btn"
           class="upload-btn w-14 h-14 rounded-lg bg-gradient-to-r from-primary to-secondary flex items-center justify-center !rounded-button">
            <i class="ri-add-line ri-2x text-white"></i>
        </a>
    {% endif %}
    {% if not user.is_authenticated %}
        <a href="{% url 'about' %}"
           id="about-btn"
           class="flex flex-col items-center justify-center py-1 text-gray-400">
            <div class="w-6 h-6 flex items-center justify-center">
                <i class="ri-information-line ri-lg"></i>
            </div>
            <span class="text-xs">About</span>
        </a>
    {% endif %}
    <a href="{% url 'inbox.conversations' %}"
       id="inbox-btn"
       class="flex flex-col items-center justify-center py-1 {% if 'inbox.' in request.resolver_match.url_name %}text-primary{% else %}text-gray-400{% endif %}">
        <div class="w-6 h-6 flex items-center justify-center">
            <i class="ri-message-3-line ri-lg"></i>
        </div>
        <span class="text-xs">Inbox</span>
    </a>
    <a href="{% if user.is_authenticated %}{% url 'user.profile' user.username %}{% else %}{% url 'login' %}{% endif %}"
       id="profile-btn"
       class="flex flex-col items-center justify-center py-1 {% if 'user.' in request.resolver_match.url_name or '/auth' in request.path %}text-primary{% else %}text-gray-400{% endif %}">
        <div class="w-6 h-6 flex items-center justify-center">
            <i class="ri-user-3-line ri-lg"></i>
        </div>
        <span class="text-xs">Profile</span>
    </a>
</div>
